div.button {
    display: block;
    position: absolute;
    width: 20px;
    height: 10px;
    text-align: center;
    background-color: gray;
    color: white;
    line-height: 10px;
    cursor: pointer;
  }
  
  div.button:hover {
    background-color: lightgray;
  }
  
  div.one {
    right: 0;
    top: 0;
  }
  div.two {
    right: 0;
    bottom:0;
  }
  
  div.field-wrapper {
    display: inline-block;
    position: relative;
  }
  
  
  input#field {
    background-color: white;
  }